numpy
scipy
ipykernel
ipython
ipython-genutils
jupyter-client
jupyter-core
matplotlib
pandas
pylint
PyQt5
PyQt5-sip
QtPy
tqdm
xlrd
xlwt
ipywidgets
rise
sympy
lvm_read
pytest
numba
jupyter_contrib_nbextensions
youtube_dl
RISE