numpy
scipy
ipykernel
ipython
ipython-genutils
jupyter-client
jupyter-core
matplotlib
numpy
pandas
pylint
PyQt5
PyQt5-sip
QtPy
scipy
tqdm
xlrd
xlwt
ipywidgets
rise
sympy
lvm_read
pytest
numba
jupyter_contrib_nbextensions